.Login {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1;
}

.form-box {
  margin-top: 60px;
  background-color: #ffffff;
  z-index: 10;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  flex-direction: column;
}

.social-divider {
  width: 90%;
  text-align: center;
  border-bottom: 1px solid #979faf;
  line-height: 0.1em;
  margin: 5px auto 20px;
}

.social-divider span {
  background: #fff;
  padding: 0 10px;
}
